html {
	background-color: #e5e4e5 ;
	font-family: monospace;
}

header {
	font-size: 30px;
	text-align: center;
	color: red;
}

li {
  list-style: none;
}

p {
	text-align: center;
	color: #CE2220;
}

section {
	float: left;
	width: 50%;
}

span {
	float: left;
	
}


#burgerList {
	margin-left: 20%;
}

#burgerListItem {
	background: white;
  	padding-left: 5%;
  	padding-top: 1%;
  	padding-bottom: 2%;
  	border: 1%;
}

#burgerSubmit {
	float: right;
	vertical-align: top;
}

/* #devourButton {
	position: relative;
	bottom: -14px;
	margin-left: 4%;
} */

.devourButton {
	
	margin-left: 4%;
	background-image: "assets/images/images.jpeg";
	width: 100%;
	height: auto;
	margin-top: 5%;
	border-color: #CE2220;
	
}



#hamburgerImage {
	width: 30%;
	position: relative;
	left: 35%;
}

#newBurger {
	clear: both;
	margin-left: 24%;
	width: 55%;
}

#newBurgerSubmit {
	position: relative;
	left: 40%;
	background-color: #CE2220;
	color: white;
	width: 8%;
	
}

#newBurgerText {
	width: 45%;
	position: relative;
	left: 25%;
}


.burgers {
	width:	70%;
	background: white;
	padding-left: 5%;
	padding-top: 1%;
	padding-bottom: 2%;
	margin: 1%;
	color: #CE2220
}

.createUpdateForm {
  padding: 5px;
  margin: 5px;
}

.devourBurger {
	width: 60%;
	background: white;
	border-style: ridge;
	border-width: 1px;
  	padding-left: 5%;
  	padding-top: 1%;
	padding-bottom: 2%;
	color: #CE2220
}

.formGroup {
  margin-bottom: 5px;
}

.label {
  font-weight: bold;
}

.buttonSpan {
	color: #CE2220;
	text-align: center;
	float: right;
	padding-top: 7%;
	padding-left: 5px;
	/* width: 100%;
	height: auto; */
}